<h1 style="text-align: center;">PrimeNG</h1>
<hr>
<h5>Buttons</h5>
<p-button label="Submit"></p-button>
<p-button label="Disabled" disabled="true"></p-button>
<p-button label="Link" styleClass="p-button-link"></p-button>
<hr>
<h5>Inline</h5>
<input type="text" pInputText class="p-mr-2 p-d-inline" />
<input type="text" pInputText class="p-d-inline" />
<h5>Block</h5>
<input type="text" pInputText class="p-mb-2 p-d-block" />
<input type="text" pInputText class="p-d-block" />
<hr>
<div class="p-grid">
    <div class="p-col" *ngFor="let box of boxes; index as i">
        <div [class]="'box p-shadow-' + (i + 1)">
            p-shadow-{{i + 1}}
        </div>
    </div>
</div>
<hr>
<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<hr>